html{
    background-color: wheat;
  }
  .card-timer{
    display: flex;
    align-items: center;
    align-content: flex-start;
  }
  .card-day{
    flex:1;
    padding: 5px;
    color:white;
    font-size: 40px;
    background: rgb(35, 71, 67);
    text-align: center;
  }
  .card-hours{
    flex:1;
    padding: 5px;
    color:white;
    font-size: 40px;
    background: rgb(240, 60, 210);
    text-align: center;
  }
  .card-minute{
    flex:1;
    padding: 5px;
    color:white;
    font-size: 40px;
    background: rgb(45, 29, 117);
    text-align: center;
  }
  .card-sec{
    flex:1;
    padding: 5px;
    color:white;
    font-size: 40px;
    background: rgb(182, 106, 7);
    text-align: center;
  }
  .label{
    flex: 1;
    font-size: small;
    padding: 5px;
  
  }